.page-container {
    padding-left: 0;
}

.main-content {
    padding-top: 10px;
}

.project-column{
    height: 700px;
    overflow: overlay;
}
.velocityGraph{
    width: 100%;
    height: 250px;
    font-family:Poppins, sans-serif;
    font-size:12px;
    font-weight:400;
}

.projectcard {
    display: flex;
    flex-flow: initial;
    overflow: auto;
    background: #fff;
    color: #000;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 5px 10px;
    margin-bottom: 8px;
    text-align: left;
    box-shadow: 0 1px 3px rgba(106,115,125,0.3);
    border: 1px #e1e4e8 solid!important;
}

.projectcard_issue {
    flex: auto;
    margin-top: 6px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.projectcard_issue_text {}
.projectcard_issue_label {
    margin-right: 2px;
}

.projectcard_issue_value{
    height: 20px;
}
.projectmarker{
    width: 5px;
 
    float: left;
    margin-right: 5px;
    margin-left: -5px;
}

.project_0 .projectmarker{
    background-color: #1f77b4
}
.project_1 .projectmarker{
    background-color: #ff7f0e
}
.project_2 .projectmarker{
    background-color: #2ca02c
}
.project_3 .projectmarker{
    background-color: #d62728
}

.headder-middle{
    text-align: center;
    margin: auto;
    display: grid;
}
.headder-middle div{
    float:left;
}

.headder-middle .block{
    height: 10px;
    width: 10px;
    margin-top: 8px;
    border-radius: 8px;
    margin-right: 5px;
    margin-left: 10px;
}

.headder-middle .project_0 .block{
    background-color: #1f77b4
}
.headder-middle .project_1 .block{
    background-color: #ff7f0e
}
.headder-middle .project_2 .block{
    background-color: #2ca02c
}
.headder-middle .project_3 .block{
    background-color: #d62728
}

.slider.slider-horizontal{
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
}
.sliderDiv{
    text-align: center;
}


.sliderDiv .tooltip2 {
    opacity: 100;
}

#dragbar{
    margin: auto;
    background-color: #0000001c;
    height: 3px;
    width: 90%;
    cursor: row-resize;
    margin-bottom: 20px;
 }

 #ghostbar{
    width: 100%;
    height: 3px;
    background-color:#000;
    opacity:0.5;
    position:absolute;
    cursor: col-resize;
    z-index:999
}